@use 'sass:map';
@use '../sass_basics/basics' as *;

body {
    @include gridLayout(5%, 90%, 5%);

}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
    /*background: $support_color2;*/
}

::-webkit-scrollbar-thumb {
    background: $main_theme;
}

::-webkit-scrollbar-button:single-button {
    display: none;
}

/* SIMPLE KEY FRAMES ANIMATIONS */
@keyframes moveDownwards {
    from {
        top: -24%;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes moveUpwards {
    from {
        bottom: -24%;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes opacityChanger {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInFromTheTop {
    from {
        height: 0;
        bottom: 100%;
    }
    to {
        bottom: 0;
        height: 100%;
    }
}

/* STYLING OF SIGN UP CONTAINER */
.sign-up-area {
    grid-column: 2;
    height: 100vh;
    @include centralPositioning;

    .wrapper-card-sign-up {
        @include wrapper-card;

        .card-sign-up {
            @include within-card;

            padding: {
                top: 30px;
                bottom: 24px;
            }

            .sign-up-head {
                .title {
                    margin-bottom: 8px;
                    @include text-settings(map.get($font-weights, 'bold'),
                        map.get($font-settings, 'small', 'portrait', 'title'));
                    @include uppercase-text(center);
                }

                .sub-title {
                    opacity: 0;
                    margin-bottom: 16px;
                    @include text-settings(map.get($font-weights, 'regular'), map.get($font-settings, 'small', 'portrait', 'sub-title'));
                    @include uppercase-text(center);
                }
            }

            .sign-up-form-p {
                @include centralPositioning;

                input {
                    margin-bottom: 16px;
                    @include input-fields(map.get($inputs, 'small', 'portrait', 'width'),
                        map.get($inputs, 'small', 'portrait', 'height'),
                        map.get($font-settings, 'small', 'portrait', 'input'));

                    &:focus {
                        @include input-fields-focus;
                    }
                }

                .icon-wrapper {
                    width: 0%;
                    position: relative;
                    left: -44px;
                    top: -5px;
                    cursor: pointer;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    cursor: pointer;
                }

            }

            .btn-box {
                @include btn-container-settings;
                margin-top: 16px;
                margin-bottom: 24px;
                justify-content: space-evenly;

                button {
                    @include btn-general(map.get($buttons, 'small', 'portrait', 'width'),
                        map.get($buttons, 'small', 'portrait', 'height'),
                        map.get($font-settings, 'small', 'portrait', 'button'));

                    &:hover {
                        @include btn-general-hover;
                    }
                }
            }

            span {
                @include info-in-span(map.get($font-weights, 'regular'),
                    map.get($font-settings, 'small', 'portrait', 'span'),
                    $support_color3);

                &:hover {
                    @include info-in-span-hover;
                }
            }
        }

        animation: moveDownwards 2s ease;
    }

    /*display: none;*/
}

/* STYLING OF LOGIN CONTAINER */
.login-area {
    grid-column: 2;
    height: 100vh;
    @include centralPositioning;

    .wrapper-card-login {
        @include wrapper-card;

        .card-login {
            @include within-card;

            .login-head {
                .title {
                    margin-top: 18px;
                    @include text-settings(map.get($font-weights, 'bold'),
                        map.get($font-settings, 'small', 'portrait', 'title'));
                    @include uppercase-text(center);
                }

                .sub-title {
                    opacity: 0;

                    margin: {
                        top: 8px;
                        bottom: 16px;
                        left: 6px;
                        right: 6px;
                    }

                    @include text-settings(map.get($font-weights, 'regular'),
                        map.get($font-settings, 'portrait', 'small', 'sub-title'));
                    @include uppercase-text(center);
                }
            }

            .login-form-p {
                @include centralPositioning;

                input {
                    margin-bottom: 16px;
                    @include input-fields(map.get($inputs, 'small', 'portrait', 'width'),
                        map.get($inputs, 'small', 'portrait', 'height'),
                        map.get($font-settings, 'small', 'portrait', 'input'));

                    &:focus {
                        @include input-fields-focus;
                    }
                }

                .icon-wrapper {
                    width: 0%;
                    position: relative;
                    left: -44px;
                    top: -5px;
                    cursor: pointer;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    cursor: pointer;
                }
            }

            .btn-box {
                @include btn-container-settings;
                justify-content: space-evenly;

                button {
                    /*margin-top: 18px;*/
                    @include btn-general(map.get($buttons, 'small', 'portrait', 'width'),
                        map.get($buttons, 'small', 'portrait', 'height'),
                        map.get($font-settings, 'small', 'portrait', 'button'));

                    &:hover {
                        @include btn-general-hover;
                    }
                }

                span.forgotten-password {
                    margin: 0;
                    padding: 2px;
                    width: 96px;
                    height: 40px;
                    border: 1px solid $support_color3;
                    border-radius: 10px;
                    @include info-in-span(map.get($font-weights, 'regular'),
                        map.get($font-settings, 'small', 'portrait', 'span'),
                        $support_color3);

                    &:hover {
                        @include info-in-span-hover;
                    }

                    text-decoration: none;
                }
            }

            span {
                margin-bottom: 30px;
                @include info-in-span(map.get($font-weights, 'regular'),
                    map.get($font-settings, 'small', 'portrait', 'span'),
                    $support_color3);

                &:hover {
                    @include info-in-span-hover;
                }
            }

        }

        animation: moveUpwards 2s ease;
    }

    /*display: none;*/
}

/* STYLING OF MODAL WINDOW */
.modal-window {

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 25%;

    background-color: rgba(black, 0.8);

    .wrapper-modal-window-content {
        @include wrapper-card;
        width: 80%;
        margin: auto;

        .modal-window-content {
            @include within-card;

            width: 98%;
            padding: 28px;

            p {
                @include text-settings(400, 16px);
            }

            .dropdown {
                width: 50%;
                @include centralPositioning;

                .info {
                    @include btn-general(96px, 34px, 20px);
                    margin-bottom: 2px;
                }

                &-content {
                    @include btn-general(96px, 112px, 20px);
                    box-sizing: border-box;
                    padding: 4px;

                    .info-item {
                        position: relative;
                        @include btn-general(86px, 34px, 20px);
                        border: none;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        .tooltip {
                            visibility: hidden;
                            z-index: 1;
                            position: absolute;
                            top: 0;
                            left: 116%;
                            width: 86px;
                            padding: 4px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $support_color2;
                            color: $support_color1;
                            font-size: 12px;
                            border: 1px solid $support_color1;
                            border-radius: 10px;

                            &::after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                right: 100%;
                                margin-top: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: transparent $support_color1 transparent transparent;
                            }
                        }
                    }

                    .info-item:hover .tooltip {
                        visibility: visible;
                    }

                    .info-item+.info-item+.info-item {
                        @include btn-general(86px, 34px, 20px);
                        border: none;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        background-color: $support_color1;
                    }
                }
            }

            .btn-container {
                @include btn-container-settings;

                button {
                    @include btn-general(96px, 34px, 20px);

                    &:hover {
                        @include btn-general-hover;
                    }
                }
            }
        }

        animation: moveDownwards 2s ease;
    }

    .close {
        position: absolute;
        top: 25px;
        right: 25px;
        color: $support_color3;

        font: {
            size: 24px;
            weight: bold;
        }

        cursor: pointer;
    }

    display: none;
}

/* STYLING MODAL WINDOW FOR VALIDATION ERRORS */
.modal-window-errors {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 25%;

    background-color: rgba($support_color3, 0.8);

    .wrapper-modal-window-errors-content {
        @include wrapper-card;
        width: 90%;
        margin: auto;

        .modal-window-errors-content {
            @include within-card;

            width: 98%;
            padding: 20px;

            /*
            overflow: scroll;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 5px;
                background-color: $support_color2;
            }

            &::-webkit-scrollbar-thumb {
                background: $support_color1;
            }
            &::-webkit-scrollbar-button {
                display: none;
            }
            */

            p {
                width: 100%;
                @include text-settings(map.get($font-weights, 'bold'),
                    map.get($font-settings, 'small', 'portrait', 'sub-title'));
            }

            .container-for-errors {
                @include centralPositioning;
                justify-content: flex-start;
                @include text-settings(map.get($font-weights, 'regular'),
                    map.get($font-settings, 'small', 'portrait', 'sub-title'));

                span {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 16px;
                    }
                }
                width: 100%;
            }

            .btn-ok-errors {
                @include btn-general(map.get($buttons, 'small', 'portrait', 'width'),
                    map.get($buttons, 'small', 'portrait', 'height'),
                    map.get($font-settings, 'small', 'portrait', 'button'));

                &:hover {
                    @include btn-general-hover;
                }
            }
        }
    }

    .errors-close {
        position: absolute;
        top: 25px;
        right: 25px;
        color: $support_color2;

        font: {
            size: 24px;
            weight: bold;
        }

        cursor: pointer;
    }

    display: none;
}

/* MODAL WINDOW FOR RESETTING PASSWORDS */
.modal-window-new-password {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 25%;

    background-color: rgba(black, 0.8);

    .wrapper-modal-window-new-password {
        @include wrapper-card;
        border-radius: 25px 0px 0px 25px;
        width: 90%;
        height: 75%;
        margin: auto;

        .modal-window-new-password-content {
            @include within-card;
            border-radius: 22px 0px 0px 22px;
            justify-content: flex-start;
            padding: 28px;

            overflow: scroll;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 5px;
                background-color: $support_color2;
            }

            &::-webkit-scrollbar-thumb {
                background: $support_color1;
            }

            .current-info {
                width: 100%;
                height: 20%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                letter-spacing: 1px;
                text-align: center;
                @include text-settings(map.get($font-weights, 'regular'),
                    map.get($font-settings, 'small', 'portrait', span),
                    $support_color1);
                border: 1px solid $support_color1;
                border-radius: 10px;

                padding: {
                    top: 4px;
                    right: 16px;
                    left: 16px;
                    bottom: 4px;
                }
                &-message {
                    position: relative;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    text-align: left;
                }
            }

            .step {
                width: 100%;
                @include text-settings(map.get($font-weights, 'bold'),
                    map.get($font-settings, 'small', 'portrait', 'span'));
            }
            .hidden-username {
                margin-left: 16px;
                @include text-settings(map.get($font-weights, 'bold'),
                    map.get($font-settings, 'small', 'portrait', 'span'),
                    $support_color1);
                text-decoration: underline;
            }

            input {
                margin-right: 8px;
                @include input-fields(76%,
                    map.get($inputs, 'small', 'portrait', 'height'),
                    map.get($font-settings, 'small', 'portrait', 'input'));

                &:focus {
                    @include input-fields-focus;
                }
            }

            .icon-wrapper {
                width: 0%;
                position: relative;
                left: -47px;
                top: 3px;
                cursor: pointer;

                img {
                    width: 30px;
                    height: 30px;
                }

                cursor: pointer;
            }

            button {
                @include btn-general(42px,
                    42px,
                    map.get($font-settings, 'small', 'portrait', 'button'));

                &:hover {
                    @include btn-general-hover;
                }
            }

            button.modal-window-new-password-ok {
                margin: auto;
                @include btn-general(map.get($buttons, 'small', 'portrait', 'width'),
                    map.get($buttons, 'small', 'portrait', 'height'),
                    map.get($font-settings, 'small', 'portrait', 'button'));

                &:hover {
                    @include btn-general-hover;
                }
            }
        }
        animation: moveUpwards 2s ease;
    }

    .reset-password-close {
        position: absolute;
        top: 25px;
        right: 25px;
        color: $support_color3;

        font: {
            size: 24px;
            weight: bold;
        }

        cursor: pointer;
    }

    display: none;
}

/* STYLING OF SIGN UP CONTAINER ON LANDSCAPE SCREENS */
.sign-up-landscape-area {
    grid-column: 2;
    height: 100vh;
    @include centralPositioning;

    .wrapper-card-sign-up-landscape {
        @include wrapper-card;
        height: 75%;

        .card-sign-up-landscape {
            @include within-card;

            .intro-box {
                @include centralPositioning;
                width: 40%;
                padding-left: 60px;
                box-sizing: border-box;

                border-right: {
                    width: 2px;
                    style: solid;
                    color: $support_color3;
                }

                ;

                .title {
                    width: 100%;
                    margin-bottom: 20px;
                    @include text-settings(map.get($font-weights, 'bold'),
                        map.get($font-settings, 'small', 'landscape', 'title'));
                    @include uppercase-text(left);
                }

                .sub-title-one,
                .sub-title-two,
                .sub-title-three {
                    opacity: 0;
                    width: 100%;
                    @include text-settings(map.get($font-weights, 'regular'),
                        map.get($font-settings, 'small', 'landscape', 'sub-title'));
                    @include uppercase-text(left);
                }
            }

            .sign-up-form-l {
                @include centralPositioning;
                width: 60%;
                height: 90%;
                box-sizing: border-box;

                input {
                    @include input-fields(map.get($inputs, 'small', 'landscape', 'width'),
                        map.get($inputs, 'small', 'landscape', 'height'),
                        map.get($font-settings, 'small', 'landscape', 'input'));

                    &:focus {
                        @include input-fields-focus;
                    }
                }

                .icon-wrapper {
                    width: 0%;
                    position: relative;
                    left: -44px;
                    top: 3px;
                    cursor: pointer;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    cursor: pointer;
                }

                .btn-box {
                    @include btn-container-settings;
                    justify-content: space-evenly;

                    button {
                        @include btn-general(map.get($buttons, 'small', 'landscape', 'width'),
                            map.get($buttons, 'small', 'landscape', 'height'),
                            map.get($font-settings, 'small', 'landscape', 'button'));

                        &:hover {
                            @include btn-general-hover;
                        }
                    }
                }

                span {
                    @include info-in-span(map.get($font-weights, 'regular'),
                        map.get($font-settings, 'small', 'landscape', 'span'),
                        $support_color3);

                    &:hover {
                        @include info-in-span-hover;
                    }
                }
            }
        }

        animation: moveDownwards 2s ease;
    }

    display: none;
}

/* STYLING LOGIN CONTAINER ON LANDSCAPE SCREENS */
.login-landscape-area {
    grid-column: 2;
    height: 100vh;
    @include centralPositioning;

    .wrapper-card-login-landscape {
        height: 75%;
        @include wrapper-card;

        .card-login-landscape {
            @include within-card;

            .intro-box {
                @include centralPositioning;
                width: 40%;
                padding-left: 60px;
                box-sizing: border-box;

                border-right: {
                    width: 2px;
                    style: solid;
                    color: $support_color3;
                }



                .title {
                    width: 100%;
                    margin-bottom: 20px;
                    @include text-settings(map.get($font-weights, 'bold'),
                        map.get($font-settings, 'small', 'landscape', 'title'));
                    @include uppercase-text(left);
                }

                .sub-title-one,
                .sub-title-two,
                .sub-title-three {
                    opacity: 0;
                    width: 100%;
                    @include text-settings(map.get($font-weights, 'regular'),
                        map.get($font-settings, 'small', 'landscape', 'sub-title'));
                    @include uppercase-text(left);
                }
            }

            .login-form-l {
                @include centralPositioning;
                width: 60%;
                height: 75%;
                box-sizing: border-box;

                input {
                    @include input-fields(map.get($inputs, 'small', 'landscape', 'width'),
                        map.get($inputs, 'small', 'landscape', 'height'),
                        map.get($font-settings, 'small', 'landscape', 'input'));

                    &:focus {
                        @include input-fields-focus;
                    }
                }

                .icon-wrapper {
                    width: 0%;
                    position: relative;
                    left: -44px;
                    top: 3px;
                    cursor: pointer;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    cursor: pointer;
                }

                .btn-box {
                    @include btn-container-settings;
                    justify-content: space-evenly;

                    button {
                        @include btn-general(map.get($buttons, 'small', 'landscape', 'width'),
                            map.get($buttons, 'small', 'landscape', 'height'),
                            map.get($font-settings, 'small', 'landscape', 'button'));

                        &:hover {
                            @include btn-general-hover;
                        }
                    }

                    span.forgotten-password {
                        margin: 0;
                        width: 110px;
                        height: 40px;
                        border: 1px solid $support_color3;
                        border-radius: 10px;
                        @include info-in-span(map.get($font-weights, 'regular'),
                            map.get($font-settings, 'small', 'landscape', 'span'),
                            $support_color3);

                        &:hover {
                            @include info-in-span-hover;
                        }

                        text-decoration: none;
                    }
                }

                span {
                    @include info-in-span(map.get($font-weights, 'regular'),
                        map.get($font-settings, 'small', 'landscape', 'span'),
                        $support_color3);

                    &:hover {
                        @include info-in-span-hover;
                    }
                }
            }
        }

        animation: moveUpwards 2s ease;
    }

    display: none;
}

/* VERY SMALL SCREENS (Nokia Lumia 530, IPhone SE, IPhone 4) */

@media only screen and (max-height: 640px) and (orientation: portrait) {
    .sign-up-area {
        .wrapper-card-sign-up {
            height: 85%;
        }
    }

    .login-area {
        .wrapper-card-login {
            height: 85%;
        }
    }

    .modal-window {
        padding-top: 20%;

        .wrapper-modal-window-content {
            height: 85%;
        }

        .close {
            top: 15px;
            right: 20px;
        }
    }

    .modal-window-errors {
        padding-top: 20%;

        .wrapper-modal-window-errors-content {
            height: 85%;
        }

        .errors-close {
            top: 15px;
            right: 20px;
        }
    }

    .modal-window-new-password {
        padding-top: 20%;

        .wrapper-modal-window-new-password {
            height: 85%;
        }

        .reset-password-close {
            top: 15px;
            right: 20px;
        }
    }
}

@media only screen and (max-height: 320px) and (orientation: landscape) {
    .sign-up-landscape-area {
        display: flex;

        .wrapper-card-sign-up-landscape {
            display: flex;
            height: 76%;

            .card-sign-up-landscape {
                .intro-box {
                    padding-left: 40px;
                }

                .sign-up-form-l {
                    input {
                        width: 80%;
                    }
                }
            }
        }

        /*display: none;*/
    }

    .sign-up-area {
        display: none;
    }

    .login-landscape-area {
        display: flex;

        .wrapper-card-login-landscape {
            display: flex;
            height: 76%;

            .card-login-landscape {
                .intro-box {
                    padding-left: 40px;
                }

                .login-form-l {
                    input {
                        width: 80%;
                    }
                }
            }
        }

        /*display: none;*/
    }

    .login-area {
        display: none;
    }

    .modal-window {
        padding-top: 7%;

        .wrapper-modal-window-content {
            height: 86%;
            width: 86%;

            .modal-window-content {
                padding: {
                    top: 16px;
                    left: 32px;
                    right: 32px;
                    bottom: 16px;
                }

                p {
                    margin: {
                        top: 0;
                        bottom: 8px;
                    }
                }

                .dropdown {
                    width: 30%;
                    margin-bottom: 2px;
                }
            }
        }

        .close {
            top: 15px;
            right: 20px;
        }
    }

    .modal-window-errors {
        padding-top: 7%;

        .wrapper-modal-window-errors-content {
            height: 80%;
            width: 86%;
        }

        .errors-close {
            top: 15px;
            right: 20px;
        }
    }

    .modal-window-new-password {
        padding-top: 5%;

        .wrapper-modal-window-new-password {
            width: 90%;
            height: 88%;

            .modal-window-new-password-content {
                padding: {
                    top: 16px;
                    right: 32px;
                    bottom: 16px;
                    left: 32px;
                }

                .current-info {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 6px;
                }

                .step {
                    margin-bottom: 4px;
                }

                input {
                    height: 36px;
                }

                button {
                    height: 36px;
                }

                button.modal-window-new-password-ok {
                    margin-top: 12px;
                }
            }
        }

        .reset-password-close {
            top: 2px;
            right: 10px;
        }
    }
}

/* SPECIAL SETTINGS FOR SURFACE DUO */

@media only screen and (min-height: 650px) and (max-height: 940px) and (max-width: 500px) {
    .modal-window {
        padding-top: 36%;
    }
    .modal-window-new-password {
        padding-top: 16%;
    }
}

/* LARGER MOBILE SCREENS AND / OR ORIENTATION LANDSCAPE ON MOBILE DEVICES WITH SMALL SCREENS */

@media only screen and (min-width: 600px) and (orientation: landscape) {
    .sign-up-area {
        display: none;
    }

    .sign-up-landscape-area {
        display: flex;
        animation: moveDownwards 2s ease;
        /*display: none;*/
    }

    .login-area {
        display: none;
    }

    .login-landscape-area {
        display: flex;
        /*display: none;*/
    }

    .modal-window {
        padding-top: 7%;

        .wrapper-modal-window-content {
            height: 84%;

            .modal-window-content {
                padding: {
                    top: 16px;
                    left: 32px;
                    right: 32px;
                    bottom: 16px;
                }

                .dropdown {
                    width: 30%;
                    margin-bottom: 2px;
                }
            }
        }

        .close {
            top: 15px;
            right: 20px;
        }
    }

    .modal-window-errors {
        padding-top: 7%;

        .wrapper-modal-window-errors-content {
            height: 84%;
            .modal-window-errors-content {
                padding: {
                    top: 20px;
                    right: 28px;
                    bottom: 20px;
                    left: 28px;
                }
            }
        }

        .errors-close {
            top: 15px;
            right: 20px;
        }
    }

    .modal-window-new-password {
        padding-top: 7%;

        .wrapper-modal-window-new-password {
            height: 84%;

            .modal-window-new-password-content {
                padding: {
                    top: 16px;
                    right: 32px;
                    bottom: 16px;
                    left: 32px;
                }

                ;

                .current-info {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 6px;
                }

                .step {
                    margin: {
                        top: 4px;
                        bottom: 4px;
                    }
                }

                input {
                    height: 36px;
                }

                button {
                    height: 36px;
                }

                button.modal-window-new-password-ok {
                    margin-top: 12px;
                }
            }
        }

        .reset-password-close {
            top: 15px;
            right: 20px;
        }
    }
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
    .sign-up-area {
        display: flex;

        .wrapper-card-sign-up {
            .card-sign-up {

                .sign-up-head {

                    .title {
                        font-size: map.get($font-settings, 'medium-600px', 'portrait', 'title');
                    }

                    .sub-title {
                        font-size: map.get($font-settings, 'medium-600px', 'portrait', 'sub-title');
                        margin-bottom: 0;
                    }

                }

                .sign-up-form-p {
                    width: 100%;

                    input {
                        @include input-fields(map.get($inputs, 'medium-600px', 'portrait', 'width'),
                            map.get($inputs, 'medium-600px', 'portrait', 'height'),
                            map.get($font-settings, 'medium-600px', 'portrait', 'input'));
                    }
                }

                .btn-box {
                    width: 80%;

                    button {
                        @include btn-general(map.get($buttons, 'medium-600px', 'portrait', 'width'),
                            map.get($buttons, 'medium-600px', 'portrait', 'height'),
                            map.get($font-settings, 'medium-600px', 'portrait', 'button'));
                    }
                }

                span {
                    width: 100%;
                    font-size: map.get($font-settings, 'medium-600px', 'portrait', 'span');
                }
            }

        }

        /*display: none;*/
    }

    .login-area {
        display: flex;

        .wrapper-card-login {
            .card-login {

                .login-head {
                    .title {
                        font-size: map.get($font-settings, 'medium-600px', 'portrait', 'title');
                    }

                    .sub-title {
                        font-size: map.get($font-settings, 'medium-600px', 'portrait', 'sub-title');
                        margin-bottom: 0;
                    }
                }

                .login-form-p {
                    input {
                        @include input-fields(map.get($inputs, 'medium-600px', 'portrait', 'width'),
                            map.get($inputs, 'medium-600px', 'portrait', 'height'),
                            map.get($font-settings, 'medium-600px', 'portrait', 'input'));
                    }
                }

                .btn-box {
                    button {
                        @include btn-general(map.get($buttons, 'medium-600px', 'portrait', 'width'),
                            map.get($buttons, 'medium-600px', 'portrait', 'height'),
                            map.get($font-settings, 'medium-600px', 'portrait', 'button'));
                    }

                    span.forgotten-password {
                        width: 148px;
                        height: 62px;
                        font-size: 24px;
                    }
                }

                span {
                    font-size: map.get($font-settings, 'medium-600px', 'portrait', 'span');
                }
            }
        }

        /*display: none;*/
    }

    .modal-window {
        .wrapper-modal-window-content {
            .modal-window-content {
                p {
                    width: 80%;
                    font-size: 24px;
                }

                .dropdown {
                    .info {
                        width: 148px;
                        height: 46px;
                        font-size: 24px;
                    }

                    &-content {
                        width: 148px;
                        height: 148px;

                        .info-item,
                        .info-item+.info-item+.info-item {
                            width: 138px;
                            height: 46px;

                            svg {
                                width: 34px;
                                height: 34px;
                            }

                            .tooltip {
                                width: 148px;
                                font-size: 20px;
                            }
                        }
                    }
                }

                .btn-container {
                    button {
                        width: 148px;
                        height: 46px;
                        font-size: 24px;
                    }
                }
            }
        }

        .close {
            font-size: 34px;
        }
    }

    .modal-window-errors {
        .wrapper-modal-window-errors-content {
            .modal-window-errors-content {
                p {
                    width: 80%;
                    font-size: 24px;
                }

                .container-for-errors {
                    font-size: 24px;
                }

                .btn-ok-errors {
                    @include btn-general(map.get($buttons, 'medium-600px', 'portrait', 'width'),
                        map.get($buttons, 'medium-600px', 'portrait', 'height'),
                        map.get($font-settings, 'medium-600px', 'portrait', 'button'));
                }
            }
        }

        .errors-close {
            font-size: 34px;
        }
    }

    .modal-window-new-password {
        .wrapper-modal-window-new-password {
            height: 62%;

            .modal-window-new-password-content {

                .current-info,
                .step,
                .hidden-username {
                    font-size: 24px;
                }

                input {
                    height: 46px;
                    font-size: 20px;
                    margin-right: 16px;
                }
                .icon-wrapper {
                    left: -56px;
                }

                button {
                    width: 46px;
                    height: 46px;
                }

                button.modal-window-new-password-ok {
                    width: 148px;
                    height: 46px;
                    font-size: 24px;
                }
            }
        }

        .reset-password-close {
            font-size: 34px;
        }
    }
}

/* MEDIUM LARGE SCREENS (TABLETS) AND / OR ORIENTATION ON DEVICES WITH MEDIUM LARGE SCREENS */

@media only screen and (min-width: 742px) and (orientation: landscape) {
    .sign-up-area {
        display: none;
    }

    .sign-up-landscape-area {
        display: flex;

        .wrapper-card-sign-up-landscape {
            display: flex;

            .card-sign-up-landscape {
                .intro-box {
                    .title {
                        font-size: map.get($font-settings, 'medium-742px', 'landscape', 'title');
                    }

                    .sub-title-one,
                    .sub-title-two,
                    .sub-title-three {
                        font-size: map.get($font-settings, 'medium-742px', 'landscape', 'sub-title');
                    }
                }

                .sign-up-form-l {
                    height: 70%;

                    input {
                        height: map.get($inputs, 'medium-742px', 'landscape', 'height');
                        padding-left: 12px;
                    }

                    .btn-box {
                        button {
                            width: map.get($buttons, 'medium-742px', 'landscape', 'width');
                        }
                    }
                }
            }
        }

        /*display: none;*/
    }

    .login-area {
        display: none;
    }

    .login-landscape-area {
        display: flex;

        .wrapper-card-login-landscape {
            .card-login-landscape {
                .intro-box {
                    .title {
                        font-size: map.get($font-settings, 'medium-742px', 'landscape', 'title');
                    }

                    .sub-title-one,
                    .sub-title-two,
                    .sub-title-three {
                        font-size: map.get($font-settings, 'medium-742px', 'landscape', 'sub-title');
                    }
                }

                .login-form-l {
                    height: 70%;

                    input {
                        height: map.get($inputs, 'medium-742px', 'landscape', 'height');
                        padding-left: 12px;
                    }

                    .btn-box {
                        button {
                            width: map.get($buttons, 'medium-742px', 'landscape', 'width');
                        }

                        span.forgotten-password {
                            padding: 2px;
                        }
                    }
                }

            }
        }

        /*display: none;*/
    }

    .modal-window {
        .wrapper-modal-window-content {
            height: 74%;

            .modal-window-content {
                padding: {
                    top: 16px;
                    left: 60px;
                    right: 60px;
                    bottom: 16px;
                }

                p {
                    font-size: 24px;
                }

                .dropdown {
                    width: 22%;

                    .info {
                        width: 120px;
                        height: 40px;
                    }

                    &-content {
                        width: 120px;
                        height: 130px;

                        .info-item,
                        .info-item+.info-item+.info-item {
                            width: 110px;
                            height: 40px;

                            .tooltip {
                                width: 120px;
                                font-size: 16px;
                            }
                        }
                    }
                }

                .btn-container {
                    button {
                        width: 120px;
                        height: 40px;
                    }
                }
            }
        }

        .close {
            font-size: 34px;
        }
    }

    .modal-window-errors {
        .wrapper-modal-window-errors-content {
            height: 74%;

            .modal-window-errors-content {
                p {
                    font-size: 24px;
                }

                .container-for-errors {
                    font-size: 24px;
                }

                .btn-ok-errors {
                    width: 120px;
                    height: 40px;
                }
            }
        }

        .errors-close {
            font-size: 34px;
        }
    }

    .modal-window-new-password {
        .wrapper-modal-window-new-password {
            .modal-window-new-password-content {

                .current-info,
                .step,
                .hidden-username {
                    font-size: 20px;
                }

                input {
                    height: 46px;
                    font-size: 20px;
                }

                button {
                    width: 46px;
                    height: 46px;
                    margin: 12px;
                }

                button.modal-window-new-password-ok {
                    width: 120px;
                    height: 40px;
                    font-size: 20px;
                }
            }
        }

        .reset-password-close {
            font-size: 34px;
        }
    }
}

@media only screen and (min-width: 742px) and (max-height: 420px) and (orientation:landscape) {
    .sign-up-landscape-area {
        .wrapper-card-sign-up-landscape {
            .card-sign-up-landscape {
                .sign-up-form-l {
                    height: 85%;

                    input {
                        width: 76%;
                        height: 36px;
                    }
                }
            }
        }

        /*display: none;*/
    }

    .login-landscape-area {
        .wrapper-card-login-landscape {
            .card-login-landscape {
                .login-form-l {
                    height: 85%;

                    input {
                        width: 76%;
                        height: 36px;
                    }
                }
            }
        }

        /*display: none;*/
    }

    .modal-window {
        .wrapper-modal-window-content {
            height: 78%;

            .modal-window-content {
                padding: {
                    top: 16px;
                    left: 32px;
                    right: 32px;
                    bottom: 16px;
                }

                p {
                    font-size: 16px;
                    margin-top: 0;
                    margin-bottom: 8px;
                }

                .dropdown {
                    width: 22%;

                    .info {
                        width: 96px;
                        height: 34px;
                        font-size: 16px;
                    }

                    &-content {
                        width: 96px;
                        height: 112px;

                        .info-item,
                        .info-item+.info-item+.info-item {
                            width: 86px;
                            height: 34px;

                            .tooltip {
                                width: 86px;
                                font-size: 12px;
                            }
                        }
                    }
                }

                .btn-container {
                    button {
                        width: 96px;
                        height: 34px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .modal-window-errors {
        .wrapper-modal-window-errors-content {
            height: 78%;

            .modal-window-errors-content {
                p {
                    font-size: 16px;
                }

                .container-for-errors {
                    font-size: 16px;
                }

                .btn-ok-errors {
                    @include btn-general(96px, 34px, 16px);
                }
            }
        }
    }

    .modal-window-new-password {
        padding-top: 5%;

        .reset-password-close {
            top: 10px;
            right: 15px;
        }
    }
}

@media only screen and (min-width: 800px) and (orientation: portrait) {
    body {
        @include gridLayout(20%, 60%, 20%);
    }

    .sign-up-area {
        .wrapper-card-sign-up {
            height: 52%;

            .card-sign-up {
                .sign-up-form-p {
                    input {
                        width: map.get($inputs, 'medium-800px', 'portrait', 'width');
                        padding-left: 12px;
                    }
                }

                .btn-box {
                    width: 80%;
                }
            }
        }

        /*display: none;*/
    }

    .login-area {
        .wrapper-card-login {
            height: 52%;

            .card-login {
                .login-form-p {
                    input {
                        width: map.get($inputs, 'medium-800px', 'portrait', 'width');
                    }
                }
            }
        }

        /*display: none;*/
    }

    .modal-window {
        .wrapper-modal-window-content {
            .modal-window-content {
                .dropdown {
                    width: 28%;
                }
            }
        }

        .close {
            font-size: 44px;
        }
    }

    .modal-window-errors {
        .errors-close {
            font-size: 44px;
        }
    }

    .modal-window-new-password {
        .reset-password-close {
            font-size: 44px;
        }
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    body {
        @include gridLayout(20%, 60%, 20%)
    }

    .sign-up-landscape-area {
        .wrapper-card-sign-up-landscape {
            height: 60%;

            .card-sign-up-landscape {
                .intro-box {
                    padding-left: 40px;
                }

                .sign-up-form-l {
                    input {
                        @include input-fields(map.get($inputs, 'large-1024px', 'landscape', 'width'),
                            map.get($inputs, 'large-1024px', 'landscape', 'height'),
                            map.get($font-settings, 'large-1024px', 'landscape', 'input'));
                        padding-left: 12px;
                    }

                    .btn-box {
                        button {
                            @include btn-general(map.get($buttons, 'large-1024px', 'landscape', 'width'),
                                map.get($buttons, 'large-1024px', 'landscape', 'height'),
                                map.get($font-settings, 'large-1024px', 'landscape', 'button'));
                        }
                    }

                    span {
                        font-size: map.get($font-settings, 'large-1024px', 'landscape', 'span');
                    }
                }
            }
        }

        /*display: none;*/
    }

    .login-landscape-area {
        .wrapper-card-login-landscape {
            height: 60%;

            .card-login-landscape {
                .intro-box {
                    padding-left: 40px;
                }

                .login-form-l {
                    height: 60%;

                    input {
                        @include input-fields(map.get($inputs, 'large-1024px', 'landscape', 'width'),
                            map.get($inputs, 'large-1024px', 'landscape', 'height'),
                            map.get($font-settings, 'large-1024px', 'landscape', 'input'));
                        padding-left: 12px;
                    }

                    .btn-box {
                        button {
                            @include btn-general(map.get($buttons, 'large-1024px', 'landscape', 'width'),
                                map.get($buttons, 'large-1024px', 'landscape', 'height'),
                                map.get($font-settings, 'large-1024px', 'landscape', 'button'));
                        }

                        span.forgotten-password {
                            padding: 4px;
                        }
                    }

                    span {
                        font-size: map.get($font-settings, 'large-1024px', 'landscape', 'span');
                    }
                }
            }
        }

        /*display: none;*/
    }

    .modal-window {
        .wrapper-modal-window-content {
            width: 70%;

            .modal-window-content {
                p {
                    font-size: 24px;
                }

                .dropdown {
                    .info {
                        width: 114px;
                        height: 38px;
                    }

                    &-content {
                        width: 114px;
                        height: 124px;

                        .info-item,
                        .info-item+.info-item+.info-item {
                            width: 104px;
                            height: 38px;

                            .tooltip {
                                width: 104px;
                            }
                        }
                    }
                }

                .btn-container {
                    button {
                        width: 114px;
                        height: 38px;
                    }
                }
            }
        }

        .close {
            top: 25px;
            right: 40px;
            font-size: 44px;
        }
    }

    .modal-window-errors {
        .wrapper-modal-window-errors-content {
            width: 70%;

            .modal-window-errors-content {
                .btn-ok-errors {
                    @include btn-general(map.get($buttons, 'large-1024px', 'landscape', 'width'),
                        map.get($buttons, 'large-1024px', 'landscape', 'height'),
                        map.get($font-settings, 'large-1024px', 'button'));
                }
            }
        }

        .errors-close {
            top: 25px;
            right: 40px;
            font-size: 44px;
        }
    }

    .modal-window-new-password {
        .wrapper-modal-window-new-password {
            width: 70%;

            .modal-window-new-password-content {

                .current-info,
                .step,
                .hidden-username {
                    font-size: 24px;
                }

                button.modal-window-new-password-ok {
                    width: 114px;
                    height: 38px;
                }
            }
        }

        .reset-password-close {
            top: 25px;
            right: 40px;
            font-size: 44px;
        }
    }
}

@media only screen and (min-width: 1024px) and (orientation: portrait) {
    .modal-window-new-password {
        .wrapper-modal-window-new-password {
            height: 55%;

            .modal-window-new-password-content {
                padding: {
                    top: 16px;
                    right: 60px;
                    bottom: 16px;
                    left: 60px;
                }

                ;
            }
        }

        .reset-password-close {
            top: 25px;
            right: 40px;
            font-size: 44px;
        }
    }
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
    .sign-up-landscape-area {
        .wrapper-card-sign-up-landscape {

            .card-sign-up-landscape {
                .sign-up-form-l {
                    height: 70%;
                }
            }
        }

        /*display: none;*/
    }

    .login-landscape-area {
        .wrapper-card-login-landscape {
            height: 50%;

            .card-login-landscape {
                .login-form-l {
                    height: 65%;
                }
            }
        }

        /*display: none;*/
    }

    .modal-window {
        .wrapper-modal-window-content {
            .modal-window-content {
                .dropdown {
                    width: 20%;

                    .info {
                        width: 148px;
                        height: 46px;
                        font-size: 24px;
                    }

                    &-content {
                        width: 148px;
                        height: 148px;

                        .info-item,
                        .info-item+.info-item+.info-item {
                            width: 138px;
                            height: 46px;

                            svg {
                                width: 34px;
                                height: 34px;
                            }

                            .tooltip {
                                width: 138px;
                                font-size: 20px;
                            }
                        }
                    }
                }

                .btn-container {
                    button {
                        width: 148px;
                        height: 46px;
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .modal-window-errors {
        .wrapper-modal-window-errors-content {
            .modal-window-errors-content {
                .btn-ok-errors {
                    @include btn-general(148px, 46px, 24px);
                }
            }
        }
    }

    .modal-window-new-password {
        .wrapper-modal-window-new-password {
            width: 60%;
            height: 70%;
        }
    }
}

@media only screen and (min-width: 1280px) and (min-height: 900px) and (orientation: landscape) {
    .sign-up-landscape-area {
        .wrapper-card-sign-up-landscape {
            height: 50%;

            .card-sign-up-landscape {
                .sign-up-form-l {
                    height: 70%;
                }
            }
        }

        /*display: none;*/
    }

    .modal-window {
        .wrapper-modal-window-content {
            height: 70%;

            .modal-window-content {
                padding: {
                    top: 16px;
                    left: 60px;
                    right: 60px;
                    bottom: 16px;
                }
            }
        }
    }

    .modal-window-new-password {
        .wrapper-modal-window-new-password {
            width: 56%;
            height: 70%;
        }
    }
}