@use 'basic_texts' as *;
@use 'basic_colors' as *;

$border-radius-container: 25px;
$border-radius-elements: 10px;

/* layout for small screens */
@mixin gridLayout_small {
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}
/* centering elements of different containers */
@mixin centralPositioning {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
}
/* centering containers */
@mixin centralContainer {
    grid-column: 2;
    height: 62%;
    width: 100%;
    @include centralPositioning;
}
/* styling of main containers */
@mixin wrapper-card {
    @include centralContainer;
    
    position: relative;
    background: $main_theme;
    border-radius: $border-radius-container;
    
}
@mixin within-card {
    @include centralContainer;
    position: absolute;
    height: 98%;
    width: 98%;
    
    box-sizing: border-box;
    background-color: $support_color2;
    
    border-radius: 22px;
}
/* styling of input fields */
@mixin input-fields {
    width: 80%;
    height: 42px;
    padding: {
        left: 8px;
        top: 12px;
        bottom: 12px;
    }
    box-sizing: border-box;

    @include text-settings(400, 16px, $support_color3);

    border: 1px solid $support_color3;
    border-radius: $border-radius-elements;
}
/* styling of focused input fields */
@mixin input-fields-focus {
    border: none;
    outline: 3px dotted $support_color3;
}
/* styling buttons */
@mixin btn-general {
    width: 96px;
    height: 34px;
    background-color: $support_color2;

    border: 1px solid $support_color1;
    border-radius: $border-radius-elements;

    @include text-settings(400, 20px, $support_color1);
    text-align: center;

    cursor: pointer;
}