@use 'sass:map';
@use 'basic_texts' as *;
@use 'basic_colors' as *;

$border-radius-container: 25px;
$border-radius-elements: 10px;
$box-shadow: 0 4px 8px 0 rgba(#777676, 0.4), 0 6px 20px 0 rgba(#777676, 0.2);
$box-shadow-on-hover: 0 4px 8px 0 rgba(#777676, 0.6), 0 6px 20px 0 rgba(#777676, 0.4);

/* layout for small screens */
@mixin gridLayout($firstCol, $secondCol, $thirdCol) {
    height: 100vh;
    display: grid;
    grid-template-columns: $firstCol $secondCol $thirdCol;
}
/* centering elements of different containers */
@mixin centralPositioning {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
}
/* centering containers */
@mixin centralContainer {
    grid-column: 2;
    height: 62%;
    width: 100%;
    @include centralPositioning;
}
/* styling of main containers */
@mixin wrapper-card {
    @include centralContainer;
    
    position: relative;
    background: $main_theme;
    border-radius: $border-radius-container;
    
}
@mixin within-card {
    @include centralContainer;
    position: absolute;
    height: 98%;
    width: 98%;
    
    box-sizing: border-box;
    background-color: $support_color2;
    
    border-radius: 22px;
}

/* styling of input fields */
@mixin input-fields ($width, $height, $fontSize) {
    width: $width;
    height: $height;
    padding: {
        left: 8px;
        top: 12px;
        bottom: 12px;
    }
    box-sizing: border-box;

    @include text-settings(400, $fontSize, $support_color3);

    border: 1px solid $support_color3;
    border-radius: $border-radius-elements;
}
/* styling of focused input fields */
@mixin input-fields-focus {
    border: none;
    outline: 1px dashed $support_color3;
}

/* styling button containers */
@mixin btn-container-settings {
    width: 100%;
    @include centralPositioning;
}
/* styling buttons */
@mixin btn-general ($width, $height, $fontSize: 0px) {
    width: $width;
    height: $height;
    background-color: $support_color2;

    border: 1px solid $support_color1;
    border-radius: $border-radius-elements;

    @include text-settings(400, $fontSize, $support_color1);
    text-align: center;

    cursor: pointer;
}
@mixin btn-general-hover {
    background-color: $support_color1;
    color: $support_color2;
}
/* styling span-elements */
@mixin info-in-span($fontWeight, $fontSize, $fontColor) {
    @include text-settings($fontWeight, $fontSize, $fontColor);
    text: {
        align: center;
        decoration: underline;
    }
    cursor: pointer;
}
@mixin info-in-span-hover {
    background-color: $support_color3;
    color: $support_color2;
}