/* general colors */

$main_theme: linear-gradient(rgba(#5302FF, 0.5), rgba(#FF013E, 0.5));

/* colors of different second-important elements (buttons, icons etc) */

$support_color1: #9B6BFF;
$support_color2: #ffffff;
$support_color3: #777676;

/* background-color for modal-windows */

$modals_background: rgba(#000000, 0.8);
